/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
spec/pacts/foo_consumer-bar_producer.json
spec/pacts/zoo_consumer-zoo_provider.json

# rspec failure tracking
.rspec_status
